/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s;
    padding: 15px;
    
}

/* Body */
body{
    font-size:14px;
    line-height: 22px;
    color: rgb(59, 58, 58);
    font-family:sans-serif;
    background-color:#FAE0B4;
  }

/* Desktop Navigation */
.Fnavbar{
  position: fixed;
  display: flex;
  justify-content:right;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70px;
  z-index: 1;
}
.Fnavbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.Fnavbar li{
 display: inline-block;
}
.Fnavbar a{
 text-decoration: none;
 display: block;
 padding: 65px 35px;
 text-align: center;
}
.Fnavbar img{
  width: 55px;
  height: 55px;
}

.Snavbar ul {
  position: relative;
  list-style: none;
  
}
.Snavbar ul li a {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  color: #504a40;
  padding: 10px 30px;
  height: 70px;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.3s;
  
}
.Snavbar ul li a:hover {
  background-color:#F87714;
  color: #FAE0B4;
}
.Snavbar a span, .Snavbar a:focus span {
  padding: 0 5px 0 7px;
}
.Snavbar ul li a img {
  height: 60px;
  width: 60px;
}
.Snavbar ul ul {
  position: absolute;
  left: 210px;
  top: 0;
  display: none;
}

.Snavbar ul .dropdown {
  position: relative;
}
.Snavbar ul .dropdown:hover ul {
  display: initial;
}

@media (min-width: 992px) {
  
  .Snavbar a span, .Snavbar a:focus span {
    display: none;
  }
}
.Snavbar a:hover span, .Snavbar li:hover > a span {
  display: block;
} 

/*Mobile Navigation*/

/* Display for Tablets */
@media screen and (max-width:991px) {
    
  #header {
   transform: translateX(-250px) ;
  }
}
.mobile-nav-toggle {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: #F87714;
  font-size: 45px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}
.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #F87714;
}

/*Hero Section*/
#hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: #504a40;
    
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}


#hero h1 {
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-decoration: overline;
}

#hero p span {
  color: #e47022;
  letter-spacing: 1px;
}



@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}